GMAIL_USER=seu_email@gmail.com
GMAIL_APP_PASSWORD=sua_senha_app
LABELS_INTERESSE=Finances/Aluguel,Finances/CPFL,Finances/Claro,Finances/Comgás
CPF_SENHA=123
ANTICAPTCHA_KEY=sua_chave
SEMAE_USUARIO=000
SEMAE_CPF=000
SEMAE_SENHA=xxx
TELEGRAM_TOKEN=xxx
TELEGRAM_CHAT_ID=xxx